.card {
    display:inline-block;
}

.cart-item {
    width: 200px;
    height: auto;
}

.btn-primary {
    background-color: bisque;
    border-color: darkgreen;
    color: black;
}

.btn-primary:hover {
    background-color: darkgreen;
    border-color: darkgreen;
    transition: 0.7s;
}

.card:hover {
    background-color: #e8e8e8;
    transition: 0.5s;
}

.container {
    align-content: center;
}
